*, body {
  font-style: italic;
}
.latestnodes__field_image {
  display: inline-block;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 100px;
  height: 100px
}
